.form-signup {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;

  img {
    max-height: 80px;
  }
}

.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signup .form-control:focus {
  z-index: 2;
}
